<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyBB Blog Subscription Complete</title>
    <meta name="description" content="Sign up to receive email notification of new posts to the official MyBB Blog.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TODO: Serve stylesheet locally -->
    <link rel="stylesheet" href="https://mybb.github.io/mybb-website-theme/assets/css/main.css">
</head>
<body class="section section--home">
{{ template "partials/header.html" }}

<article class="main main--home">
    <header class="main-feature">
        <div class="wrapper">
            <h1 class="main-feature__page-title">Thanks For Signing Up For MyBB Blog Email Updates</h1>

            <p class="main-feature__description">
                Your email address <code>{{.emailAddress}}</code> has been successfully added to the MyBB Blog mailing list.
            </p>
            <p class="main-feature__description">
                You should receive an email the next time a new post is published on the MyBB Blog.
            </p>
            <p class="main-feature__description">
                If you no longer wish to receive these email updates at any time, you can unsubscribe using the unsubscribe link found in the footer of any email from the MyBB Blog.
            </p>
        </div>
    </header>
</article>

<!-- TODO: Analytics tracking -->
</body>
</html>