Hi, %recipient_email%

{{ .Author }} has published a new blog post '{{ .Title }}':

{{ .Summary }}

You can read the full post here: {{ .Url }}

You can unsubscribe from MyBB blog updates here: %mailing_list_unsubscribe_url%