Hi, %recipient_email%

{{.Author | toPlainText}} has published a new blog post '{{.Title | toPlainText}}':

{{.Summary | toPlainText}}

You can read the full post here: {{.Url | toPlainText}}

You can unsubscribe from MyBB blog updates here: %mailing_list_unsubscribe_url%