Hi, %recipient_email%

{{ toPlainText(.Author) }} has published a new blog post '{{ toPlainText(.Title) }}':

{{ toPlainText(.Summary) }}

You can read the full post here: {{ toPlainText(.Url) }}

You can unsubscribe from MyBB blog updates here: %mailing_list_unsubscribe_url%