<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyBB Blog Subscription Sign Up</title>
        <meta name="description" content="Sign up to receive email notification of new posts to the official MyBB Blog.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- TODO: Serve stylesheet locally -->
        <link rel="stylesheet" href="https://mybb.github.io/mybb-website-theme/assets/css/main.css">
    </head>
    <body class="section section--home">
        {{template "partials/header.html"}}

        <article class="main main--home">
            <header class="main-feature">
                <div class="wrapper">
                    <h1 class="main-feature__page-title">Sign Up For MyBB Blog Email Updates</h1>

                    <p class="main-feature__description">
                        You can sign up to receive email notifications of new posts posted to the MyBB Blog by entering your email below.
                    </p>
                </div>
            </header>
            <div class="wrapper">
                {{range .messages}}
                    {{template "partials/alert_danger.html" .}}
                {{end}}

                <form method="post" action="/signup">
                    {{ .csrfField }}

                    <section class="block block--form form">
                        <div class="section section--form">
                            <div class="row row--form field">
                                <h3 class="field__name"><label for="name">Name</label></h3>
                                <p class="field__description">
                                    Please enter your name so that we know how to address you in the email notifications we send.
                                </p>
                                <input type="text" class="textbox" name="name" id="name" required autofocus
                                    placeholder="Please enter your name">
                            </div>
                            <div class="row row--form field">
                                <h3 class="field__name"><label for="email">Email Address</label></h3>
                                <p class="field__description">
                                    Please enter the email address you want us to send blog post notifications to
                                </p>
                                <input type="email" class="textbox" name="email" id="email" required
                                       placeholder="Please enter your email address">
                            </div>
                        </div>
                        <div class="form__submit">
                            <button type="submit" class="button button--big" tabindex="3">
                                <i class="button__icon fas fa-user-plus-alt"></i>
                                <span class="button__text">Subscribe</span>
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </article>

        <!-- TODO: Analytics tracking -->
    </body>
</html>