<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyBB Blog Email Sign Up</title>
        <meta name="description" content="Sign up to receive email notification of new posts to the official MyBB Blog.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- TODO: Serve stylesheet locally -->
        <link rel="stylesheet" href="https://mybb.github.io/mybb-website-theme/assets/css/main.css">
    </head>
    <body>
        <article class="main">
            <header class="main-feature">
                <div class="wrapper">
                    <h1 class="main-feature__page-title">Sign Up To MyBB Blog Email Updates</h1>

                    <p class="main-feature__description">
                        You can sign up to receive email notifications of new posts posted to the MyBB Blog by entering your email below.
                    </p>
                </div>
            </header>
            <div class="wrapper">
                <form>
                    <input type="email" placeholder="Please enter your email address to start receiving email notifications"
                           name="email" required>

                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </article>

        <!-- TODO: Analytics tracking -->
    </body>
</html>